.full-w {
    width:100%;
}
.bg-red{
    background:#F75454;
}
.text-w{
    color:white;
}
#grad{
    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, #FCCBCB); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #FCCBCB); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #FCCBCB); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #FCCBCB); /* Standard syntax */
}